.green{
	height: 500px;
	width: 1000px;
	margin: 50px;
	background-color: #8cb27c;
}

.cuadrado1{
	background-color: white;
	position: absolute; width: 960px; height: 460px; top: 70px; left: 80px; 
}

.cuadrado2{
	background-color: #8cb27c;
	position: absolute; width: 950px; height: 450px; top: 75px; left: 85px;
}

.cuadrado3{
	background-color: white;
	position: absolute; width: 100px; height: 220px; top:170px; left: 80px;
}

.cuadrado4{
	background-color: #8cb27c;
	position: absolute; width: 90px; height: 210px; top: 175px; left:85px;

}

.cuadrado5{
	background-color: white;
	position: absolute; width: 100px; height: 220px; top:170px; left: 940px;
}

.cuadrado6{
	background-color: #8cb27c;
	position: fixed; width: 90px; height: 210px; top: 175px; left:945px;
}

.circulo1{
	background-color: white;
	position: absolute; width: 200px; height: 200px; top:170px; left: 475px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}

.circulo2{
	background-color: #8cb27c;
	position: absolute; width: 190px; height: 190px; top:175px; left: 480px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}

#ball1{
	z-index: 1000;
	background-image: url(img/ball1.png);
	width: 25px; height: 25px; position: absolute; margin-left: 145px; margin-top: 125px;
}

#ball2{
	z-index: 1000;
	background-image: url(img/ball2.png);
	width: 25px; height: 25px; position: absolute; margin-left: 600px; margin-top: 70px;
}

#ball3{
	z-index: 1000;
	background-image: url(img/ball3.png);
	width: 25px; height: 25px; position: absolute; margin-left: 905px; margin-top: 300px;
}